<header class="header">
  <div class="header__logo"></div>
  <div class="header__user">
    <img src="./assets/me.jfif" alt="Me" />
  </div>
</header>

<main class="main">

  <section class="main__top">
    <div class="main__title">
      <h1>To Do List</h1>
      <span *ngIf="nTasks === 0; else hasTasks">Empty list. Add some tasks</span>
      <ng-template #hasTasks>
        <span>There are {{ nTasks }} tasks in the list.</span>
      </ng-template>
    </div>
    <div class="main__add-task">
      <input type="text" name="task" id="" class="input" #txtTask (keyup.enter)="crearTarea()"/>
      <button class="add" (click)="crearTarea()">
        <i *ngIf="!inEdition; else showIconEdition" class="fas fa-plus"></i>
        <ng-template #showIconEdition>
          <i class="fas fa-pencil"></i>
        </ng-template>
        Add Task
      </button>
    </div>
  </section>

  <section class="main__center">
    <ul class="list">
      <li *ngFor="let task of list; let i = index" class="item">
        <div class="item__controls--left">
          <input type="checkbox" name="check" id="" class="item__check" (change)="marcarCompletado(task.id, $event)" [checked]="task.complete">
          <h3 class="item__id" [ngClass]="{'crossed' : task.complete}">#<strong>{{ i+1 }}</strong></h3>
          <span class="item__description" [ngClass]="{'crossed' : task.complete}">{{ task.task }}</span>
        </div>
        <div class="item__controls--right">
          <button class="item__status" [ngClass]="{'complete': task.complete}">
            <i class="fas fa-circle dot"></i>{{ task.complete?'Complete':'Pending' }}
          </button>
          <!-- <button class="item__edit" (click)="modificarTarea(i)"><i class="fas fa-pencil"></i></button> -->
          <button class="item__delete" (click)="borrarTarea(task.id)"><i class="fas fa-trash"></i></button>
        </div>
      </li>
    </ul>
  </section>
</main>

<footer class="footer">
  <span></span>
</footer>
