/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #141625;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background-color: #3f4268;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-color: #7d5cf9;
  height: 50px;
  width: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header__user {
  background-color: #3f4268;
  width: 80px;
  height: 50px;
  right: 0;
  border-left: 1px rgb(103, 97, 185) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.886);
}

.main {
  /* width: 100%; */
  height: 100%;
  margin: 60px 150px 60px 150px;
  /* border: 1px red solid; */
  color: rgba(255, 255, 255, 0.886);
}

.main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}

.main__add-task {
  display: flex;
  align-items: center;
  height: 100%;
}

.input {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.886);
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  border: none;
}

.add {
  width: 110px;
  height: 40px;
  border-radius: 18px;
  background-color: #7d5cf9;
  color: rgba(255, 255, 255, 0.886);
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main__center {
  display: flex;
}

.list {
  width: 100%;
}

.item {
  display: flex;
  height: 55px;
  border-radius: 9px;
  background-color: #1f213a;
  margin-bottom: 15px;
  justify-content: space-between;
  overflow: hidden;
}

.item__controls--left,
.item__controls--right {
  background-color: #1f213a;
  display: flex;
  align-items: center;
}

.item__controls--right {
  margin-right: 30px;
  width: 170px;
  display: flex;
  justify-content: space-evenly;
}

.item__controls--right i.dot {
  margin: 6px;
  font-size: 12px;
}

.item__check,
.item__id,
.item__description {
  margin-left: 25px;
  background-color: #1f213a;
  /* height: 20px;
    width: 20px; */
}

.crossed {
  text-decoration: line-through;
}

.item__check {
  height: 20px;
  width: 20px;
}

.item__status {
  min-width: 125px;
  height: 30px;
  padding: 10px;
  background-color: #412727;
  color: #cc3c59;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.complete {
  color: #4fb9a2;
  background-color: #1d2c3f;
}

.item__edit,
.item__delete {
  color: rgba(255, 255, 255, 0.886);
  background-color: #1f213a;
  border: none;
  font-size: 20px;
  margin: 0 15px;
  cursor: pointer;
}

.item__edit i {
  color: orange;
}
.item__delete i {
  color: #7d5cf9;
  margin-right: 25px;
}

.add i {
  background-color: rgba(255, 255, 255, 0.886);
  color: #7d5cf9;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.886);
}
